/* sensordb.css */

.sensordb_forms {
    margin: 10px;
}

/* --- Import Records --- */
.sdb_importRecord {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
}
.sdb_importRecord:after {
	display: block;
	clear: both;
	content: " ";
}
.sdb_importRecord_id, 
.sdb_importRecord_date, 
.sdb_importRecord_fileName, 
.sdb_importRecord_importerName,
.sdb_importRecord_initialOffset,
.sdb_importRecord_finalOffset,
.sdb_importRecord_originalFileName,
.sdb_importRecord_notes {
	float: left;
	width: 300px;
}

/* --- Radio button in createLocation form --- */
.sdb_createLocation_wkt {
	display: none;
}
.sdb_createLocation_select_wkt .sdb_createLocation_wkt {
	display: block;
}

.sdb_createLocation_longlat {
	display: none;
}
.sdb_createLocation_select_longlat .sdb_createLocation_longlat {
	display: block;
}
